<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="grid-container">
  <div class="grid-item" style="z-index: 0;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="loginbox-header-text">Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" (Submit)="Login(UserName.value, password.value)" [formGroup]="LoginFormGroup">
          <table class="example-full-width" cellspacing="10">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput #UserName placeholder="Brugernavn/Email" [formControl]="LoginFormControl" required>
                  <mat-error *ngIf="LoginFormControl.hasError">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput type="password" placeholder="Kodeord" [formControl]="PasswordFormControl" #password required>
                  <mat-error *ngIf="PasswordFormControl.hasError">{{getErrorPasswordMessage()}}</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                  <mat-checkbox color="primary" matInput [formControl]="rememberMeFormControl">Husk mig</mat-checkbox>
              </td>
            </tr>
          </table>
          <br>
          <button type="submit" [disabled]="LoginFormGroup.invalid" mat-raised-button color="primary"
          (click)="Login(UserName.value, password.value)">
          <a>
            Log ind
          </a>
          <mat-icon>login</mat-icon>
        </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Loading indication test -->
  <mat-progress-spinner style="position: absolute; top: 50%; left: 50%; translate: -50%,-50%; z-index: 5;"
    [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
  <div class="grid-item"></div>
</div>
