.centering{
  justify-content: center;
}
.grid-container {
  justify-content: center;
  margin-top: 35vh;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  z-index: 0;
}
.loginbox-header-text {
  margin: 0 -5px !important;
}
.login-button-image{
  margin-top:-2.7px;
}
