.centering{
  justify-content: center;
}
.example-card{
  margin-top: 50%;
  margin-left: 50%;
  min-width: 50vw;
  min-height: 50vh;
position: relative;
}
.grid-container {
  justify-content: center;
  margin-top: 35vh;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}
.example-form{
  position: absolute;
}

.loginbox-header-text {
  margin: 0 -5px !important;
}
.login-button-image{
  margin-top:-2.7px;
}
