
<div style="background-color: #3f51b5; position: fixed; color: white; bottom: 0px; left: 0px; right: 0px; z-index: 3;">
  <div style="text-align: center;">
    <mat-icon-button mat-button #tooltip="matTooltip" matTooltip="Cookies" style="cursor: pointer;" (click)="openBottomSheet()">
      <mat-icon fontSet="material-icons-outlined">cookie</mat-icon>
    </mat-icon-button>
  </div>
    <p style="text-align: center;">
      ZBC : Bredahlsgade 1-3 - 4200 Slagelse - Telefon: 5578 8888 -
      <a style="color: white;" href="https://www.zbc.dk/">www.zbc.dk</a>
    </p>
</div>
