<mat-card style="height: 80vh; margin: 0% !important;">
  <mat-card-header style="float: right;">
    <button mat-icon-button (click)="CloseDialog()">
      <mat-icon>close</mat-icon>
    </button>

  </mat-card-header>
  <mat-card-title>
    Optag ny video
  </mat-card-title>

  <ng-container *ngIf="!videoSrc">
  <video class="video" playsinline [mediaStream]="{video: true, audio: true}" (mediaRecorded)="onVideo($event)"></video>
  </ng-container>
  <ng-container *ngIf="videoSrc">
    <video class="video" controls [src]="videoSrc"></video>
  </ng-container>


    <mat-card-footer style="text-align: center;">
      <button mat-raised-button class="button" #tooltip="matTooltip" matTooltip="Start kamera" (click)="startCamera()"><mat-icon>videocam</mat-icon></button>
      <button mat-raised-button class="button" #tooltip="matTooltip" matTooltip="Start optagelse" (click)="startRecord()"><mat-icon style="color: red !important;">fiber_manual_record</mat-icon></button>
      <button mat-raised-button class="button" #tooltip="matTooltip" matTooltip="Stop optagelse" (click)="stopRecord()"><mat-icon>stop</mat-icon></button>
      <button mat-raised-button class="button" #tooltip="matTooltip" matTooltip="Ryd optagelse" (click)="clearRecording()"><mat-icon>replay</mat-icon></button>
      <button disabled={{saved}} mat-raised-button class="button" #tooltip="matTooltip" matTooltip="Gem video" (click)="save()"><mat-icon>save</mat-icon></button>

    </mat-card-footer>
</mat-card>
