<div style="display: flex;">
  <mat-card class="quillEditorSize" style ="overflow-y: auto;">
    <mat-card-title><input matInput type="text" [(ngModel)]="QuilData.Title" maxlength="30">
      <button mat-ripple style="background-color:transparent; border-color: transparent; cursor: pointer; z-index: 1;">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-title>
      <quill-editor  #editor [(ngModel)]="QuilData.editorData" (ngModelChange)="onChange($event)" ></quill-editor>
  </mat-card>

  <!-- Cheack box -->
  <mat-card>
    <mat-card-title>Liste</mat-card-title>
    <div>
      <div>
        <p>Check færdige Kategorier</p>
        <hr>
        <mat-selection-list>
          <mat-checkbox #Forside [(ngModel)]="QuilData.compltedList[0].isCompleted"  (ngModelChange)="QuilData.compltedList[0].isCompleted = Forside.checked" value="Forside">
            Forside</mat-checkbox>
          <hr>
          <mat-checkbox #Formaal [(ngModel)]="QuilData.compltedList[1].isCompleted" value="Formaal">
            Formål</mat-checkbox>
          <hr>
          <mat-checkbox #Materiale [(ngModel)]="QuilData.compltedList[2].isCompleted"
            value="Materiale">Materiale</mat-checkbox>
          <hr>
          <mat-checkbox #Forsoegsopstilling [(ngModel)]="QuilData.compltedList[3].isCompleted" value="Forsoegsopstilling">Forsøgsopstilling</mat-checkbox>
          <hr>
          <mat-checkbox #Sikkerhed [(ngModel)]="QuilData.compltedList[4].isCompleted"
            value="Sikkerhed">Sikkerhed</mat-checkbox>
          <hr>
          <mat-checkbox #Teori [(ngModel)]="QuilData.compltedList[5].isCompleted" value="Teori">Teori
          </mat-checkbox>
          <hr>
          <mat-checkbox #Resultater [(ngModel)]="QuilData.compltedList[6].isCompleted"
            value="Resultater">Resultater</mat-checkbox>
          <hr>
          <mat-checkbox #Diskussion [(ngModel)]="QuilData.compltedList[7].isCompleted"
            value="Diskussion">Diskussion</mat-checkbox>
          <hr>
          <mat-checkbox #Fejlkilder [(ngModel)]="QuilData.compltedList[8].isCompleted"
            value="Fejlkilder">Fejlkilder</mat-checkbox>
          <hr>
          <mat-checkbox #Konklusion [(ngModel)]="QuilData.compltedList[9].isCompleted"
            value="Konklusion">Konklusion</mat-checkbox>
          <hr>
          <mat-checkbox #Kilder [(ngModel)]="QuilData.compltedList[10].isCompleted" value="Kilder">
            Kilder
          </mat-checkbox>
        </mat-selection-list>

      </div>
    </div>

  </mat-card>

  <button mat-icon-button (click)="closeDialogBox()" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <mat-progress-spinner style="position: absolute; top: 50%; left: 50%; translate: -50%,-50%; z-index: 5;"
    [mode]="'indeterminate'" *ngIf="loadingText$ |async"></mat-progress-spinner>
</div>
