<div style="display: flex;">
  <mat-card class="CardPos">
    <mat-card-title>{{title}}</mat-card-title>
    <div >
      <quill-editor #editor [(ngModel)]="dataModel.editorData" oncanplaythrough="true" (ngModelChange)="onChange($event)" ></quill-editor>

    </div>
  </mat-card>

  <!-- Cheack box -->
  <mat-card>
    <mat-card-title>Liste</mat-card-title>
    <div>
      <div>
        <p>Check færdige Kategorier</p>
        <hr>
        <mat-selection-list>


          <mat-checkbox #Forside [checked]='check(Forside.value)' (click)="SetCategoro(Forside.value)" value="Forside">
            Forside</mat-checkbox>
          <hr>
          <mat-checkbox #Formaal [checked]="check(Formaal.value)" (click)="SetCategoro(Formaal.value)" value="Formaal">
            Formaal</mat-checkbox>
          <hr>
          <mat-checkbox #Materiale [checked]="check(Materiale.value)" (click)="SetCategoro(Materiale.value)"
            value="Materiale">Materiale</mat-checkbox>
          <hr>
          <mat-checkbox #Forsoegsopstilling [checked]="check(Forside.value)"
            (click)="SetCategoro(Forsoegsopstilling.value)" value="Forsoegsopstilling">Forsoegsopstilling</mat-checkbox>
          <hr>
          <mat-checkbox #Sikkerhed [checked]="check(Sikkerhed.value)" (click)="SetCategoro(Sikkerhed.value)"
            value="Sikkerhed">Sikkerhed</mat-checkbox>
          <hr>
          <mat-checkbox #Teori [checked]="check(Teori.value)" (click)="SetCategoro(Teori.value)" value="Teori">Teori
          </mat-checkbox>
          <hr>
          <mat-checkbox #Resultater [checked]="check(Resultater.value)" (click)="SetCategoro(Resultater.value)"
            value="Resultater">Resultater</mat-checkbox>
          <hr>
          <mat-checkbox #Diskussion [checked]="check(Diskussion.value)" (click)="SetCategoro(Diskussion.value)"
            value="Diskussion">Diskussion</mat-checkbox>
          <hr>
          <mat-checkbox #Fejlkilder [checked]="check(Fejlkilder.value)" (click)="SetCategoro(Fejlkilder.value)"
            value="Fejlkilder">Fejlkilder</mat-checkbox>
          <hr>
          <mat-checkbox #Konklusion [checked]="check(Konklusion.value)" (click)="SetCategoro(Konklusion.value)"
            value="Konklusion">Konklusion</mat-checkbox>
          <hr>
          <mat-checkbox #Kilder [checked]="datamodel.Kilder" (click)="SetCategoro(Kilder.value)" value="Kilder">
            Kilder
          </mat-checkbox>
        </mat-selection-list>

      </div>
    </div>
  </mat-card>

  <button mat-icon-button (click)="closeDialogBox()" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <mat-progress-spinner style="position: absolute; top: 50%; left: 50%; translate: -50%,-50%; z-index: 5;"
    [mode]="'indeterminate'" *ngIf="loadingText$ |async"></mat-progress-spinner>
</div>
