 .ckedtiorCard{
  background-color: white;
  min-height: 75%;
  min-width: 75%;

}
/*
.CardPos{
  position: absolute;
  top: 25%;
  left: 25%;
} */

/* This controls the hetig and width of the editor */
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 500px !important;
}
