<div>
    <h1>Vil du tillade brugen af cookies på SoScience hjemmesiden</h1>
    <div>
        <p>Vi bruger cookies til at gemme at du er logget ind så du automatik bliver logget ind næste gang du tilgår siden</p>
        <p>Hvis du ønsker at ændre brugen af cookies kan du altid bare klikke på cookien "<mat-icon fontSet="material-icons-outlined">cookie</mat-icon>" som er i bunden af siden</p>
    </div>
    <div class="buttonPanel">
        <button mat-stroked-button color="warn" (click)="disallowCookie()" class="disallowbtn">Tillad ikke cookies</button>
        <button mat-stroked-button color="accent" (click)="allowCookie()" class="allowbtn">Tillad cookies</button>
    </div>
</div>
