img {
  width: 33.33%;
  margin-left: 33.33%;
}
p {
  max-width: 75%;
  margin-left: 12.5%;
}
/*------------GENERAL------------*/
.center {
  margin: auto;
  align-self: center;
}

.container{
  height: 40vh;
}

.VectorArt{
    position:absolute;
    top: 28vh;
}

.matCard{
  background-color: rgb(63,81,181,0.9);
  margin-top: 1vh;
  flex: 1 0;
  /*box-shadow: none !important;*/
}
/*-------------TEXT------------------*/

.titlePosition{
  padding-top: 35vh;
  text-align: center;
  margin: auto;
}

p{
  flex: 1;
}

.white-text{
  color:white !important;
  text-align: center;
  flex: 1 0;
}


