
<mat-card class="matCard" style="z-index: -1; margin-left: 15vh; margin-right: 15vh; position: relative;">

<h2 class="white-text">Velkommen til SoScience </h2>
<p class="white-text">Du har nu åbnet for endnu flere muligheder for at gemme og dokumentere dine naturfagsforsøg.
  Her finder du værktøjer til at optage videoer, lyd og uploade filer, mens du står midt i forsøget – mere direkte dokumentation og mindre skriveri!</p>
<p class="white-text">Rigtig god fornøjelse!</p>
</mat-card>


<footer>
  <p class="white-text">Zbc : Bredahlsgade 1-3 - 4200 Slagelse - Telefon: 5578 8888 - <a href="https://www.zbc.dk/">www.zbc.dk</a>  </p>
</footer>


