<!--Normal menu-->
<div fxFlexFill style="margin-top: 0vh !important;">
  <div [hidden]="checkLogin()">
  <mat-toolbar color="primary" >
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>
      </span>
      <!--

        <button href="/forside">
          <img style="max-width: 170px;max-height: 100px;" src="../../assets/SoScience2.png"/>
        </button>
       -->
      <input class="homeButton" type="image" src="../../assets/SoScience2.png" onclick="location.href='/forside';"/>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a href="/forside" mat-button mat-ripple>Forside</a>
        <a href="/guideline" mat-button>Guidelines</a>
        <a href="/arkiv" mat-button>Arkiv</a>
        <a href="/indstillinger" mat-button>Indstillinger</a>
        <a target="_blank" href="https://moodle.zbc.dk/login/index.php" mat-button>Moodle</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<!--Burgermenu-->
  <mat-sidenav-container fxFlexFill class="menuNavbar">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="/forside" mat-list-item>Forside</a>
        <a href="/guideline" mat-list-item>Guidelines</a>
        <a href="/arkiv" mat-list-item>Arkiv</a>
        <a href="/indstillinger" mat-list-item>Indstillinger</a>
        <a target="_blank" href="https://moodle.zbc.dk/login/index.php" mat-list-item>Moodle</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="padding:8px">
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
