<!--Normal menu-->
<div fxFlexFill style="margin-top: 0vh !important;">
  <div [hidden]="checkLogin()">
  <mat-toolbar color="primary" >
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm >
        <mat-icon>menu</mat-icon>
      </button>
      <span>
      </span>
      <input class="homeButton" type="image" src="../../assets/SoScience2.png" onclick="location.href='/forside';"/>
      <div fxShow="true" fxHide.lt-md>
        <a href="/forside" mat-button>Forside</a>
        <a href="/guideline" mat-button>Guidelines</a>
        <a href="/arkiv" mat-button>Arkiv</a>
        <a target="_blank" href="https://moodle.zbc.dk/login/index.php" mat-button>Moodle</a>
      </div>
      <span class="menu-spacer"></span>
      <button mat-icon-button (click)="logout()" style="float: right !important;"><mat-icon>logout</mat-icon></button>
      <button mat-icon-button onclick="location.href='/indstillinger';" style="float: right !important;"><mat-icon>settings</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<!--Burgermenu-->
  <mat-sidenav-container fxFlexFill class="menuNavbar">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="/forside" mat-list-item>Forside</a>
        <a href="/guideline" mat-list-item>Guidelines</a>
        <a href="/arkiv" mat-list-item>Arkiv</a>
        <a target="_blank" href="https://moodle.zbc.dk/login/index.php" mat-list-item>Moodle</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="padding:2rem">
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
