<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<mat-card class="matcard-Center-Datatable">
  <div>
    <div>
      <button (click)="AddNewProject()" class="maticonBounten" mat-icon-button>
        <mat-icon >add</mat-icon>
      </button>
      <h4 class="bouttenTextMatIcon">tilføje nyt project</h4>
    </div>
    <br />
    <br />
    <mat-form-field>
      <mat-label style="font-size: large">Filter/Søg</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Filter/Søg"
        #input
      />
    </mat-form-field>
    <table
      mat-table
      class="mat-elevation-z8"
      [dataSource]="matdatascoure"
      matSort
    >
      <!-- Expande detilas -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            [@detailExpand]="element == Docoments ? 'expanded' : 'collapsed'"
          >
            <div>
              <div>{{ element.getId() }}</div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- id Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let element">{{ element.getId() }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.getName() }}</td>
      </ng-container>

      <!-- completed Column -->
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>completed</th>
        <td mat-cell *matCellDef="let element">{{ element.getCompleted() }}</td>
      </ng-container>

      <!-- lastedited Column -->
      <ng-container matColumnDef="lastedited">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>lastedited</th>
        <td mat-cell *matCellDef="let element">
          {{ element.getLastedited() }}
        </td>
      </ng-container>
      <!-- endDate Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>endDate</th>
        <td mat-cell *matCellDef="let element">{{ element.getEnddate() }}</td>
      </ng-container>

      <!-- Docoments -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="Docoments === element"
        (click)="Docoments = Docoments === element ? null : element"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>
