
.mat-form-field {
  font-size: 14px;
  width: 25%;
}
.mat-column-name{
  z-index: 5;

}

.example-element-detail {
  overflow: hidden;
  display: block;
}

.mat-column-completed{
  z-index: 5;

}
.mat-column-lastedited{
  z-index: 5;
}
.mat-column-endDate{
  z-index: 5;
}

.bouttenTextMatIcon {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 2.5rem;
}
.maticonBounten {
  float: left;
  background-color: #3f51b5;
}


/* ----Test Table css----- */

table {
  width: 100%;
  border-spacing: 0px;
}

tr.example-detail-row {
  height: 0;
}


.example-element-row td {
  border-bottom-width: 0;
}



.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


/* -- tooltip fix -- */
.hoverme:hover{
  /* overflow: visible !important; */
  overflow-x: auto !important;
  text-overflow: unset !important;
  width: auto;
  /* max-width: fit-content !important; */

}

.hoverme::after{
  text-align: left !important;

}
