<mat-tab-group>
  <!-- Projects that are not done is shown under this tab -->
  <mat-tab label="Igangværende projekter">
<mat-card style="border-radius: 0px 0px 5px 5px;">
  <div>
    <div style="display: flex;;">
      <!-- <button (click)="AddNewProject()" class="maticonBounten" mat-icon-button> -->

      <app-add-project-dialog-box #tooltip="matTooltip" matTooltip="Tilføj nyt projekt" matTooltipHideDelay="100">
      </app-add-project-dialog-box>
      <!-- <h4>Tilføj nyt projekt</h4> -->
    </div>
    <br />
    <br />
    <mat-form-field>
      <mat-label style="font-size: large">
        <mat-icon>search</mat-icon>
      </mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter/Søg" #input />
    </mat-form-field>
    <table #mattable mat-table [dataSource]="matdatascoure" multiTemplateDataRows class="mat-elevation-z8" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.getId() }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Navn/Titel</th>
        <td mat-cell *matCellDef="let element">{{ element.getName() }}</td>
      </ng-container>

      <!-- completed Column -->
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Færdiggjort</th>
        <td mat-cell *matCellDef="let element">{{ element.getCompleted() ? "Ja" : "Nej" }}
          <a style="z-index: 10;">
            <button mat-ripple (click)="updateProject(element)"
              style="background-color:transparent; border-color: transparent; cursor: pointer; z-index: 1;">
              <mat-icon>done</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>

      <!-- lastedited Column -->
      <ng-container matColumnDef="lastedited">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sidst redigeret</th>
        <td mat-cell *matCellDef="let element">
          {{ element.getLastedited() }}
        </td>
      </ng-container>
      <!-- endDate Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Slut Dato</th>
        <td mat-cell *matCellDef="let element">{{ element.getEnddate() }}<a
            *ngIf="element.getDocumentsList().length <= 0" style="z-index: 10;">

            <button mat-ripple (click)="DeleteProject(element)"
              style="background-color:transparent; border-color: transparent; cursor: pointer; z-index: 1;">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="(element === Docoments) ? 'expanded' : 'collapsed'">
            <div>
              <table *ngIf="GetDocomentsAsObject(element).getDocumentsList()[0].getId() != 0">
                <thead>
                  <tr>
                    <br>
                    <th mat-header-cell style=" text-align: left;">Navn/Titel</th>
                    <br>
                    <th style=" text-align: left;">Rediger</th>
                    <br>
                    <th style=" text-align: right;">Fremdrift</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of GetDocomentsAsObject(element).getDocumentsList()">
                  <tr>
                    <!-- <td>{{item.getId()}}</td> -->
                    <br>
                    <td>{{item.getTitle()}}</td>
                    <td id="testid">
                      <button mat-ripple (click)="OpenQuilEditor(item)"
                        style="background-color:transparent; border-color: transparent; cursor: pointer; z-index: 1;">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </td>

                    <td>
                      <button mat-ripple (click)="OpenDialogAreYouSureDocument(item)"
                        style="background-color:transparent; border-color: transparent; cursor: pointer; z-index: 1;">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>

                    <td>
                      <mat-progress-bar style="min-width: 150px;" mode="determinate"
                        [value]='((item.getCompletedcount() /11)*100)'>
                      </mat-progress-bar>
                    </td>
                  </tr>
                </tbody>

              </table>
              <div style="padding-top: 1rem; z-index: 10; padding-bottom: 1rem;">
                <hr>
                <app-add-document-dialog-box [projectid]="element.getId()" #tooltip="matTooltip"
                  matTooltip="Tilføj nyt document" matTooltipHideDelay="100" style="margin-left: 5px;">
                </app-add-document-dialog-box>
                <!-- <button mat-ripple mat-mini-fab style="background-color:#3f51b5;"><mat-icon >add</mat-icon></button> -->
                <!-- <a style="margin: 5px;">Tilføj nyt dokument</a> -->
                <span></span>
                <button mat-mini-fab style="background-color:#3f51b5; margin-left: 5px;" #tooltip="matTooltip"
                  matTooltip="Optage lyd" matTooltipHideDelay="100">
                  <mat-icon>mic</mat-icon>
                </button>
                <button mat-mini-fab style="background-color:#3f51b5; margin-left: 5px;" #tooltip="matTooltip"
                  matTooltip="Optage Video" matTooltipHideDelay="100">
                  <mat-icon>videocam</mat-icon>
                </button>
              </div>
            </div>
          </div>

        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="Docoments == row" (click)="Docoments = Docoments  == row ? null: row"
        style="overflow: hidden;">
      </tr>
      <tr style="overflow: hidden;" mat-row *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"></tr>
    </table>


    <mat-paginator #paginator [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
  </div>
  <mat-progress-spinner style="position: absolute; top: 50%; left: 50%; translate: -50%,-50%; z-index: 5;"
    [mode]="'indeterminate'" *ngIf="loading$ |async"></mat-progress-spinner>
</mat-card>
  </mat-tab>
  <!-- Projects that are done is shown under this tab -->
  <mat-tab label="Færdiggjorte projekter"><mat-card style="border-radius: 0px 0px 5px 5px;">
    <div>
      <div style="display: flex;;">
        <app-add-project-dialog-box #tooltip="matTooltip" matTooltip="Tilføj nyt projekt" matTooltipHideDelay="100">
        </app-add-project-dialog-box>
      </div>
      <br />
      <br />
      <mat-form-field>
        <mat-label style="font-size: large">
          <mat-icon>search</mat-icon>
        </mat-label>
        <input matInput (keyup)="applyFilterDone($event)" placeholder="Filter/Søg" #input />
      </mat-form-field>
      <table mat-table #tableDone [dataSource]="matdatascoureDoneProjects" multiTemplateDataRows class="mat-elevation-z8" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell  *matCellDef="let element">{{ element.getId() }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Navn/Titel</th>
          <td mat-cell *matCellDef="let element">{{ element.getName() }}</td>
        </ng-container>

        <!-- completed Column -->
        <ng-container matColumnDef="completed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Færdiggjort</th>
          <td mat-cell *matCellDef="let element">{{ element.getCompleted() ? "Ja" : "Nej" }}</td>
        </ng-container>

        <!-- lastedited Column -->
        <ng-container matColumnDef="lastedited">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sidst redigeret</th>
          <td mat-cell *matCellDef="let element">
            {{ element.getLastedited() }}
          </td>
        </ng-container>
        <!-- endDate Column -->
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Slut Dato</th>
          <td mat-cell *matCellDef="let element">{{ element.getEnddate() }}<a
              *ngIf="element.getDocumentsList().length <= 0" style="z-index: 10;">

              <button mat-ripple (click)="DeleteProject(element)"
                style="background-color:transparent; border-color: transparent; cursor: pointer; z-index: 1;">
                <mat-icon>delete</mat-icon>
              </button>
            </a>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td #fint mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="(element === Docoments) ? 'expanded' : 'collapsed'">
              <div>
                <table *ngIf="GetDocomentsAsObject(element).getDocumentsList()[0].getId() != 0">
                  <thead>
                    <tr>
                      <br>
                      <th mat-header-cell style=" text-align: left;">Navn/Titel</th>
                      <br>
                      <th style=" text-align: left;">Rediger</th>
                      <br>
                      <th style=" text-align: right;">Fremdrift</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of GetDocomentsAsObject(element).getDocumentsList()">
                    <tr>
                      <!-- <td>{{item.getId()}}</td> -->
                      <br>
                      <td>{{item.getTitle()}}</td>
                      <td id="testid">
                        <button mat-ripple (click)="openQuillViwer(item)"
                          style="background-color:transparent; border-color: transparent; cursor: pointer; z-index: 1;">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </td>

                      <td>
                        <mat-progress-bar style="min-width: 150px;" mode="determinate"
                          [value]='((item.getCompletedcount() /11)*100)'>
                        </mat-progress-bar>
                      </td>
                    </tr>
                  </tbody>

                </table>
                <br>
              </div>
            </div>

          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
          [class.example-expanded-row]="Docoments == row" (click)="Docoments = Docoments  == row ? null: row"
          style="overflow: hidden;">
        </tr>
        <tr style="overflow: hidden;" mat-row *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"></tr>
      </table>


      <mat-paginator #paginatorDone [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
    </div>
    <mat-progress-spinner style="position: absolute; top: 50%; left: 50%; translate: -50%,-50%; z-index: 5;"
      [mode]="'indeterminate'" *ngIf="loading$ |async"></mat-progress-spinner>
  </mat-card></mat-tab>
</mat-tab-group>
