
<mat-card class="matcard-Center-Datatable  matTableCard">
  <div>
    <div>
      <button (click)="AddNewProject()" class="maticonBounten" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <h4 class="bouttenTextMatIcon">tilføje nyt project</h4>
    </div>
    <br />
    <br />
    <mat-form-field>
      <mat-label style="font-size: large">Filter/Søg</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter/Søg" #input />
    </mat-form-field>
    <table mat-table [dataSource]="matdatascoure" multiTemplateDataRows class="mat-elevation-z8" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="Id" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let element">{{ element.getId() }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.getName() }}</td>
      </ng-container>

      <!-- completed Column -->
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>completed</th>
        <td mat-cell *matCellDef="let element">{{ element.getCompleted() }}</td>
      </ng-container>

      <!-- lastedited Column -->
      <ng-container matColumnDef="lastedited">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>lastedited</th>
        <td mat-cell *matCellDef="let element">
          {{ element.getLastedited() }}
        </td>
      </ng-container>
      <!-- endDate Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>endDate</th>
        <td mat-cell *matCellDef="let element">{{ element.getEnddate() }}</td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="(element === Docoments) ? 'expanded' : 'collapsed'">
            <div>
              <table *ngIf="GetDocomentsAsObject(element).getDocumentsList()[0].getId() != 0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>edit</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of GetDocomentsAsObject(element).getDocumentsList()">
                  <tr>
                    <td>{{item.getId()}}</td>
                    <td>{{item.getTitle()}}</td>
                    <td><app-TextEditorDilogBox [DocomentToEdite]="item"></app-TextEditorDilogBox>
                    </td>
                  </tr>
                </tbody>

              </table><div style="padding-top: 1rem; padding-bottom: 1rem;">
                  <hr>
                <button mat-ripple mat-mini-fab><mat-icon >add</mat-icon></button>
                <a style="margin: 5px;">new Docoment</a>
              </div>
            </div>
          </div>

        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; when:isExpansionDetailRow"
        class="example-element-row" [class.example-expanded-row]="Docoments == row"
        (click)="Docoments = Docoments  == row ? null: row" (click)="StartSpinner(row)"style="overflow: hidden;">
      </tr>
      <tr style="overflow: hidden;" mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>


    <mat-paginator [pageSizeOptions]="[5, 15, 25, 100]"></mat-paginator>
  </div>
  <mat-progress-spinner style="position: absolute; top: 50%; left: 50%; translate: -50%,-50%; z-index: 5;"
    [mode]="'indeterminate'" *ngIf="loading$ |async"></mat-progress-spinner>
  </mat-card>

