
<mat-card class="matCard">

<h1 class="h1 white-text">Velkommen til SoScience </h1>
<h6 class="white-text">Du har nu åbnet for endnu flere muligheder for at gemme og dokumentere dine naturfagsforsøg.

  Her finder du værktøjer til at optage videoer, lyd og uploade filer, mens du står midt i forsøget – mere direkte dokumentation og mindre skriveri!</h6>

<h6 class="white-text">Rigtig god fornøjelse!</h6>

</mat-card>


<footer>
  <div class="footer">
    <p class="Footertext">Zbc : Bredahlsgade 1-3 - 4200 Slagelse - Telefon: 5578 8888 - <a href="https://www.zbc.dk/">www.zbc.dk</a>  </p>
  </div>
</footer>

