@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

body{
  background: url(./assets/backgroundUse2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0 !important;
}

footer{
  background-color: black;
  color:white;
}

.ql-toolbar .ql-stroke {
  fill: none !important;
  stroke: indigo !important;
}

.ql-toolbar .ql-fill {
  /* filter: invert(1); */
  fill: indigo !important;
  stroke: none !important;
}

.ql-toolbar .ql-picker-label {
  color: indigo !important;
}





