<mat-card style="height: 80vh; margin: 0% !important;">
  <mat-card-header style="float: right;">
    <button mat-icon-button (click)="CloseDialog()">
      <mat-icon>close</mat-icon>
    </button>

  </mat-card-header>
  <mat-card-title>
    Optag ny video
  </mat-card-title>

  <ng-container *ngIf="!videoSrc;">
  <video class="video" playsinline [mediaStream]="{video: true}" (videoRecorded)="onVideo($event)"></video>
  </ng-container>
  <ng-container *ngIf="videoSrc">
    <video class="video" controls [src]="videoSrc"></video>
  </ng-container>


    <mat-card-footer style="text-align: center;">
      <button mat-raised-button (click)="startCamera()"><mat-icon>videocam</mat-icon></button>
      <button mat-raised-button (click)="startRecord()"><mat-icon style="color: red;">fiber_manual_record</mat-icon></button>
      <button mat-raised-button (click)="stopRecord()"><mat-icon>stop</mat-icon></button>
      <button mat-raised-button (click)="clearRecording()"><mat-icon>replay</mat-icon></button>

    </mat-card-footer>
</mat-card>
