<mat-card style="height: 80vh; margin: 0% !important;">
  <mat-card-header style="float: right;">
    <button mat-icon-button (click)="CloseDialog()">
      <mat-icon>close</mat-icon>
    </button>

  </mat-card-header>
  <mat-card-title>
    Optag ny video
  </mat-card-title>

  <video class="video" playsinline [mediaStream]="{video: true}" (videoRecorded)="onVideo($event)"></video>
  <ng-container *ngIf="videoSrc">
    <video class="video" controls [src]="videoSrc"></video>
  </ng-container>


    <mat-card-footer>
      <button mat-raised-button (click)="startCamera()">Start Kamera</button>
      <button mat-raised-button (click)="startRecord()">Optag</button>
      <button mat-raised-button (click)="stopRecord()"><mat-icon>stop</mat-icon></button>
    </mat-card-footer>
</mat-card>
