

<mat-card style="border-radius: 0px 0px 5px 5px;">
  <div>
    <div style="display: flex;;">
      
      <app-subject-dialog-box #tooltip="matTooltip" matTooltip="Tilføj nyt fag" matTooltipHideDelay="100"></app-subject-dialog-box>
      <app-project-theme-dialogue-box #tooltip="matTooltip" matTooltip="Tilføj nyt ProjectForløb" matTooltipHideDelay="100"></app-project-theme-dialogue-box>

      <table #mattable mat-table [dataSource]="matdatasource" multiTemplateDataRows class="mat-elevation-z8" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.getId() }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Navn/Titel</th>
        <td mat-cell *matCellDef="let element">{{ element.getName() }}</td>
      </ng-container>

      <!-- lastedited Column -->
      <ng-container matColumnDef="lastedited">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sidst redigeret</th>
        <td mat-cell *matCellDef="let element">
          {{ element.getLastedited() }}
        </td>
      </ng-container>
      <!-- endDate Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Slut Dato</th>
        <td mat-cell *matCellDef="let element">{{ element.getEnddate() }}<a
            *ngIf="element.getProjects().length <= 0" style="z-index: 10;">

            <!-- <button mat-ripple (click)="DeleteProject(element)"
              style="background-color:transparent; border-color: transparent; cursor: pointer; z-index: 1;">
              <mat-icon>delete</mat-icon>
            </button> -->
          </a>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div  class="example-element-detail" [@detailExpand]="(element === Projects) ? 'expanded' : 'collapsed'">
          </div>

        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
        style="overflow: hidden;">
      </tr>
      <tr style="overflow: hidden;" mat-row *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"></tr>
    </table>

    </div>
    <br />
    <br />
  </div>