/*-----------GENERAL--------------*/


/*-----------sections--------------*/

.box {
  width: 80%;
  height: fit-content;
  margin-left: 10%;
  margin-bottom: 2vh;
  box-shadow: 0vh 0.5vh 0.25vh rgba(227,227,227,1);
}

h5, p {
  color: #1CBDC1;
  margin: 0vh 0vh 0vh 0.8vw;
  width: fit-content;
  float: left;
  clear: both;
}

.selector {
  float: left;
  width: 100%;
  margin-top: 3vh;
  margin-left: 0.8vw;
  color: #1CBDC1;
  border: none;
  text-align: center;
}
.mat-expansion-panel {
margin: 0 !important;
}

.mat-panel-title {
min-width: 40% !important;
}
